$border-color: black;
$hilite-color: lightblue;
$alt-row-color: lightgray;
$info-icon-color: blue;
$switcher-color: orange;
$view-selected-color: darkgray;
$expanded-color: lightcyan;
$expanded-border-color: lightgray;
$card-drop-shadow-color: lightgray;
$delete-icon-color: red;
$edit-icon-color: darkblue;
$selected-item-color: palegreen;
$expanded-selected-border-color: darkseagreen;
