.table.vehicles {
  .editing {
    min-width: 30px;
  }
  .table-caption {
    font-size: smaller;
    padding: 0 0 5px;
  }
  .table-body {
    .table-row {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      &:first-child {
        border-top: 1px solid black;
      }
      &:nth-child(even) {
        background-color: lightgray;
      }
    }
  }
}

